.tab-item {
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 24px;
  outline: none;
  cursor: pointer;
}

.active-tab {
  color: #fec653;
  border-bottom: 2px solid #fec653;
}

.tab-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  margin-left: 10px;
  background-color: transparent;
  border: none;
  outline: none;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 22px;
}
